<%= form_with model: todo, url: todo_path(todo.id), local: true, method: :patch do |f| %>
    <div class="todo-header">
        <%= f.text_field :title, placeholder: "タイトル", class: "form-box" %>
    </div>
    <div class="todo-center">
        <%= f.text_area :description, placeholder: "メモ", class: "form-box" %>
    </div>
    <div class="todo-footer">
        <%= f.submit "更新", class: "btn" %>
    </div>
<% end %>
<div class="todo-other">
    <%= button_to "削除", todo_path(todo.id), method: :delete, class: "btn" %>
</div>